<?xml version="1.0" encoding="UTF-8"?>

<bean:beans
	xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/participantes" access="hasAnyAuthority('ADMIN')" />
		<intercept-url pattern="/crearParticipantes" access="hasAnyAuthority('ADMIN')" />


		<form-login login-page="/login"
			authentication-failure-url="/error" username-parameter="username"
			password-parameter="password" />
		<csrf disabled="true" />
		<logout logout-success-url="/login" />


	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />
			
			<!-- CLAVE ENCCRIPTADA EN BASE DE DATOS ES "awakelab" -->
			<jdbc-user-service data-source-ref="ds"
				users-by-username-query="select user as username, password, 1 as enabled from users where user =?"
				authorities-by-username-query="select user as username, rol as authority from users where user =?" />
		</authentication-provider>
	</authentication-manager>

</bean:beans>

